In [30]:
import pandas as pd
a = pd.Series([1,2,3,4])
print(a.describe(),'\n')
print(a[:2],'\n')
print('max',a.max(),'\n')
print('std',a.std(),'\n')
print('mean',a.mean(),'\n')

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

0    1
1    2
dtype: int64

max 4

std 1.2909944487358056

mean 2.5

In [13]:
b = pd.Series([1,1,1,1])
print(a + b,'\n')
print(a + 1,'\n')
print(a * 2,'\n')
print(a>2,'\n')
print(a[a>2])

0    2
1    3
2    4
3    5
dtype: int64

0    2
1    3
2    4
3    5
dtype: int64

0    2
1    4
2    6
3    8
dtype: int64

0    False
1    False
2     True
3     True
dtype: bool

2    3
3    4
dtype: int64

In [25]:
rank = pd.Series([1,2,3], index = ['Ind', 'Aus', 'Eng'])
print(rank)
print(rank['Eng'])
print(rank['Ind'])
# Both statements below are same (accessing through index via number index or just index)
print(rank.iloc[1])
print(rank.loc['Aus'])

Ind    1
Aus    2
Eng    3
dtype: int64
3
1
2
2

In [39]:
WC = pd.Series([2,5,1], index = ['Ind', 'Aus', 'Eng'])
print('Max WC index is',WC.values.argmax())
print('Country with max WC is',WC.index[WC.values.argmax()])

Max WC index is 1
Country with max WC is Aus

In [3]:
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
result = s1 + s2
print(result,'\n')
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([1,2,3,4], index = ['c','d','b','a'])
result = s1 + s2
print(result,'\n')
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([1,2,3,4], index = ['e','b','c','f'])
result = s1 + s2
print(result,'\n')
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([1,2,3,4], index = ['e','b','c','f'])
result = s1 + s2
print(result.dropna(),'\n')
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([1,2,3,4], index = ['e','b','c','f'])
result = s1.add(s2,fill_value = 0)
print(result)

a    2
b    4
c    6
d    8
dtype: int64

a    5
b    5
c    4
d    6
dtype: int64

a    NaN
b    4.0
c    6.0
d    NaN
e    NaN
f    NaN
dtype: float64

b    4.0
c    6.0
dtype: float64

a    1.0
b    4.0
c    6.0
d    4.0
e    1.0
f    4.0
dtype: float64

In [6]:
import pandas as pd
def make_capital(str):
    return str.capitalize()

a = pd.Series(['ind','aus','eng'], index = [1,2,3])
b = a.apply(make_capital)
print(b)

1    Ind
2    Aus
3    Eng
dtype: object

In [25]:
ipl = pd.DataFrame({
    'Teams':['MI','DC','CSK'],
    'Won':[9,8,6],
    'Lost':[5,6,6],
    'Points':[18,16,12]
}, index = ['Rohit','Shreyas','Dhoni'])
print(ipl,'\n')
print(ipl.mean(),'\n')
print(ipl.max(),'\n')
print(ipl.loc['Dhoni'],'\n')
print(ipl.iloc[1],'\n')
print(ipl.values,'\n')
print(ipl.sum(axis = 0),'\n')
print(ipl.sum(axis = 1),'\n')

        Teams  Won  Lost  Points
Rohit      MI    9     5      18
Shreyas    DC    8     6      16
Dhoni     CSK    6     6      12

Won        7.666667
Lost       5.666667
Points    15.333333
dtype: float64

Teams     MI
Won        9
Lost       6
Points    18
dtype: object

Teams     CSK
Won         6
Lost        6
Points     12
Name: Dhoni, dtype: object

Teams     DC
Won        8
Lost       6
Points    16
Name: Shreyas, dtype: object

[['MI' 9 5 18]
 ['DC' 8 6 16]
 ['CSK' 6 6 12]]

Teams     MIDCCSK
Won            23
Lost           17
Points         46
dtype: object

Rohit      32
Shreyas    30
Dhoni      24
dtype: int64

In [41]:
df_1 = pd.DataFrame({ 'a':[1, 2, 3], 'b':[4, 5, 6], 'c':[7, 8, 9] })
df_2 = pd.DataFrame({ 'a':[10, 20, 30], 'b':[40, 50, 60], 'c':[70, 80, 90] })
result = df_1 + df_2
print(result,'\n')

df_1 = pd.DataFrame({ 'a':[1, 2, 3], 'b':[4, 5, 6], 'c':[7, 8, 9] })
df_2 = pd.DataFrame({ 'd':[10, 20, 30], 'c':[40, 50, 60], 'b':[70, 80, 90] })
result = df_1 + df_2
print(result,'\n')

df_1 = pd.DataFrame({ 'a':[1, 2, 3], 'b':[4, 5, 6], 'c':[7, 8, 9] }, index = ['row-1', 'row-2', 'row-3',])
df_2 = pd.DataFrame({ 'a':[10, 20, 30], 'b':[40, 50, 60], 'c':[70, 80, 90] }, index = ['row-4', 'row-3', 'row-2',])
result = df_1 + df_2
print(result,'\n')

    a   b   c
0  11  44  77
1  22  55  88
2  33  66  99

    a   b   c   d
0 NaN  74  47 NaN
1 NaN  85  58 NaN
2 NaN  96  69 NaN

          a     b     c
row-1   NaN   NaN   NaN
row-2  32.0  65.0  98.0
row-3  23.0  56.0  89.0
row-4   NaN   NaN   NaN

In [45]:
import pandas as pd
def mul_10(x):
    return x * 10

eg = pd.DataFrame({ 'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]})
print(eg.applymap(mul_10))

    a   b   c
0  10  40  70
1  20  50  80
2  30  60  90