## Titanic Competition - Kaggle

This is my first competition.

In [1]:
import pandas as pd
import numpy as np
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

print(train_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [2]:
def data_drop(column_name, data):
    data1 = data.drop([column_name], axis = 1)
    return data1

train_data = data_drop("Name", train_data)
train_data = data_drop("PassengerId", train_data)
train_data = data_drop("Ticket", train_data)
train_data = data_drop("Cabin", train_data)
train_data = data_drop("Embarked", train_data)

age_mean = train_data.Age.mean()
train_data = train_data.fillna(age_mean)

train_data.Sex = train_data.Sex.replace(to_replace = ['male', 'female'], value = [1,0])

y_train_data = train_data.Survived
x_train_data = train_data.drop('Survived',axis = 1)

def normalize(data):
    x = (data - np.min(data)) / (np.max(data) - np.min(data))
    return x 

print(train_data)

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0           0       3    1  22.000000      1      0   7.2500
1           1       1    0  38.000000      1      0  71.2833
2           1       3    0  26.000000      0      0   7.9250
3           1       1    0  35.000000      1      0  53.1000
4           0       3    1  35.000000      0      0   8.0500
..        ...     ...  ...        ...    ...    ...      ...
886         0       2    1  27.000000      0      0  13.0000
887         1       1    0  19.000000      0      0  30.0000
888         0       3    0  29.699118      1      2  23.4500
889         1       1    1  26.000000      0      0  30.0000
890         0       3    1  32.000000      0      0   7.7500

[891 rows x 7 columns]

In [3]:
x_train_data = normalize(x_train_data)

test_data = data_drop("PassengerId", test_data)
test_data = data_drop("Name", test_data)
test_data = data_drop("Ticket", test_data)
test_data = data_drop("Cabin", test_data)
test_data = data_drop("Embarked", test_data)

age_mean = test_data.Age.mean()
test_data = test_data.fillna(age_mean)

test_data.Sex = test_data.Sex.replace(to_replace = ['male', 'female'], value = [1,0])

test_data = normalize(test_data)

test_data

     Pclass  Sex       Age  SibSp     Parch      Fare
0       1.0  1.0  0.452723  0.000  0.000000  0.015282
1       1.0  0.0  0.617566  0.125  0.000000  0.013663
2       0.5  1.0  0.815377  0.000  0.000000  0.018909
3       1.0  1.0  0.353818  0.000  0.000000  0.016908
4       1.0  0.0  0.287881  0.125  0.111111  0.023984
..      ...  ...       ...    ...       ...       ...
413     1.0  1.0  0.396975  0.000  0.000000  0.015713
414     0.0  0.0  0.512066  0.000  0.000000  0.212559
415     1.0  1.0  0.505473  0.000  0.000000  0.014151
416     1.0  1.0  0.396975  0.000  0.000000  0.015713
417     1.0  1.0  0.396975  0.125  0.111111  0.043640

[418 rows x 6 columns]

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

train_x,valid_x,train_y,valid_y=train_test_split(x_train_data, y_train_data)

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(train_x, train_y)

LogisticRegression()

In [5]:
prediction = model.predict(valid_x)
print(accuracy_score(valid_y,prediction))

0.8251121076233184

In [6]:
from sklearn.ensemble import RandomForestClassifier 

RFR = RandomForestClassifier(n_estimators = 10000, random_state = 0)
RFR.fit(train_x, train_y)
prediction = RFR.predict(valid_x)
print(accuracy_score(valid_y,prediction))

0.7937219730941704

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

for i in range(2,15):
    KNN = KNeighborsClassifier(n_neighbors=i)
    KNN.fit(train_x,train_y)
    
    prediction = KNN.predict(valid_x)
    print(i,'-',accuracy_score(valid_y,prediction))

2 - 0.7713004484304933
3 - 0.7937219730941704
4 - 0.8071748878923767
5 - 0.7937219730941704
6 - 0.8161434977578476
7 - 0.8071748878923767
8 - 0.8161434977578476
9 - 0.8161434977578476
10 - 0.7982062780269058
11 - 0.8026905829596412
12 - 0.8026905829596412
13 - 0.7982062780269058
14 - 0.7892376681614349

In [8]:
td = pd.read_csv('train.csv')

In [9]:
td1 = td.copy()

In [10]:
td = td.drop('Name',axis = 1)

In [11]:
x_train_data.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [12]:
train_x.to_csv('TrainX.csv', index = False)